APP_NAME=Pai&MaeIntegrado
APP_ENV=test
APP_TIMEZONE=America/Recife
DATABASE_URL=postgresql+psycopg://paimae:paimae@localhost:5432/paimae_test
JWT_SECRET_KEY=test-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

